* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: midnightblue;
}

nav{
    margin: 10px;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}